.ContactForm-0{
    margin-top: 3rem;
}
.ContactForm-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContactForm-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}