#Footer-1{
    text-align: left;
    color: white;
    border-bottom: 2px solid #ffc62d;
    padding-bottom: 10px;
}
#Footer-11{
    text-align: left;
    color: white;
}
.Footer-Part{
    background-color: #2e875c;
    color: white;
}
.Footer-Image{
    width: 100%;
    height: 200px;
}
.Footer-icon {
    margin: 10px;
}
.Footer-Color{
    color: white;
}
#TextNone{
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: white;
    
}
#TextNone:hover{
    color: #ffc62d;
    
}
#footer-link{
    cursor: pointer;
    text-decoration: none;
}
#footer-link:hover{
    color: #ffc62d;
    transition-duration: 300ms;
}
@media screen and (max-width: 900px) {
    #Footer-1{
        text-align: center;
        color: white;
    }
    #Footer-11{
        text-align: center;
        color: white;
    }
}
@media screen and (max-width: 600px) {
    #Footer-1{
        text-align: center;
        color: white;
    }
    #Footer-11{
        text-align: center;
        color: white;
    }
}