.adv_container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.adv_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 80%;
}

.adv_section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}
