.blog_btn {
  color: #2e875c;
  font-size: 14px;
  text-transform: capitalize;
  background-color: transparent;
  outline: none;
  border: none;
}
.arrowIcon {
  margin-left: 0.4rem;
}
.blogDate {
  text-transform: uppercase;
  font-size: 12px;
}
.blogLink {
  color: #2e875c;
  cursor: pointer;
  font-size: 14px;
}
.blogDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  overflow: hidden;
  -webkit-box-orient: vertical;
}
.profileName {
  font-size: 1em;
}
.profileDesignation {
  font-size: 0.8em;
}

@media (max-width: 1200px) {
 
  .blogLink {
    font-size: 12px;
  }
  .profileName{
    font-size: 0.8em;
  }
  .profileDesignation {
    font-size: 0.65em;
  }
}
@media (max-width: 992px) {
  .profileName {
    font-size: 0.8em;
  }
  .profileDesignation {
    font-size: 0.6em;
  }
  .blogCard{
    width: 20rem !important;
  }
 
}
@media (max-width: 768px) {
  .profileName {
    font-size: 1em;
  }
  .profileDesignation {
    font-size: 0.8em;
  }
  .blogLink {
    font-size: 14px;
  }
  .blogCard{
    width: 100% !important;
  }
 
}


