@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}
.newsletter-section{
    background: url(https://upload.wikimedia.org/wikipedia/commons/c/c8/Altja_j%C3%B5gi_Lahemaal.jpg) center;
    background-size: cover;
    padding: 100px 40px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
.newsletter-section p{
    max-width: 600px;
    margin: 30px auto;
    font-size: 17px;
    font-weight: 700;
    font-family: "montserrat",sans-serif;
}
.email-box{
    height: 40px;
    display: flex;
    justify-content: center;
}
.email-icon{
    background:#0d3b51;
    width: 40px !important;
  height: 40px !important;
  font-size: 39px !important;
}
.newsletter-text-box,.newsletter-btn{
    border: none;
    outline: none;
}
.newsletter-text-box{
    width: 0px;
    transition: 0.6s;
}
.email-box:hover>.newsletter-text-box,.email-icon:focus{
    width: 260px;
    padding: 0 10px;
}
.newsletter-btn{
    background: #0d3b51;
    padding: 0 10px;
    color: white;
    text-transform: uppercase;
}