.swiper-button-next,
.swiper-button-prev {
  color: rgb(255, 255, 255) !important;
  background-color: #399f6e;
  border-radius: 50%;
  height: 60px !important;
  width: 60px !important;
  scale: 0.6 !important;
  
  font-weight: bold;
  position: absolute !important;
  
}
.swiper-button-prev{
margin-left: -1rem;
padding: 2.5rem !important;
}
.swiper-button-next{
  margin-right: -1rem;
  
  padding: 2.5rem !important;
}

@media (max-width: 1400px) {
}
@media (max-width: 768px) {
}
@media (max-width: 500px) {
}
