@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap");
.special-discount{
  position: absolute;
  right: 0;
  bottom: 0;
  content: '';
  height: 81px;
  width: 113px;
  background-color: #399f6e;
  border-radius: 65px 0 12px 11px;
 
}
.special-discount-content{
  position: absolute;
  right: 12px;
  bottom: 18px;
  font-weight: bold;
  font-size: 1.3em;
  color: rgb(255, 255, 255) ;
  z-index: 1;
}
.special-offer-content {
  position: absolute;
  top: 15px;
  content: '';
  z-index: 1;
}
.spoff-title{
  font-family: "montserrat", sans-serif !important;
  ;
}